:root {
    --red: #ff004f;
    --textColor: rgb(70, 70, 70);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--textColor);
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/myBg.jpg");
}