@import url("body.css");

:root {
    --text0 : 'HTML (HyperText Markup Language) is the code that is used to structure a web page and its content.';

    --text1 : 'CSS is the acronym of “Cascading Style Sheets”. CSS is a computer language for laying out and structuring web pages (HTML or XML).';

    --text2 : 'JavaScript is a programming language that adds interactivity to your website. This happens in games, in the behavior of responses when buttons are pressed, etc.';

    --text3 : 'Machine learning (ML) is a field of study in artificial intelligence concerned with the development and study of statistical algorithms that can effectively generalize and thus perform tasks without explicit instructions.';

    --text4 : 'Python has become a staple in data science, allowing data analysts and other professionals to use the language to conduct complex statistical calculations and many other stuffs.';

    --text5 : 'C++ is a high-level, general-purpose programming language created by Danish computer scientist Bjarne Stroustrup.';

    --text6 : 'Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.';

    --text7 : 'MongoDB is built on a scale-out architecture that has become popular with developers of all kinds for developing scalable applications with evolving data schemas.';

    --text8 : 'Node allows developers to write JavaScript code that runs directly in a computer process itself instead of in a browser.';

    --text9 : ' Express is a node js web application framework that provides broad features for building web and mobile applications.';

    --text10 : 'Scikit-Learn, also known as sklearn is a python library to implement machine learning models and statistical modelling.';

    --text11 : 'DSA stands for "Data Structures and Algorithms." It is a fundamental concept in computer science that focuses on organizing and manipulating data efficiently.';

    --text12 : 'React is a declarative, efficient, and flexible JavaScript library for building user interfaces.';

    --text13 : ' Pandas is a Python library used for working with data sets. It has functions for analyzing, cleaning, exploring, and manipulating data.';

    --text14 : 'C language is considered as the mother language of all the modern programming languages because most of the compilers, JVMs, Kernels, etc. are written in C language';
}


.container{
    width: 95%;
    height: 85%;
    margin: auto;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.skill{
    border: 2px solid gray;
    margin: 4%;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    width: 90%;
    height: 90%;
    overflow: hidden;
}

.skill:hover{
    transform: scale(1.05, 1.05);
}

.skill div {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}

.skill div::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--red);
    bottom: 0;
    left: 0;
}

.skill img{
    width: 50%;
    height: auto;
}

.skill::after{
    content: '';
    box-sizing: border-box;
    position: absolute;
    padding: 2%;
    border-radius: 5px;
    transition: height 0.2s;
    height: 0%;
    overflow: hidden;
}

#sk1:hover::after{
    content: var(--text0);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}

#sk2:hover::after{
    content: var(--text1);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}

#sk3:hover::after{
    content: var(--text2);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}

#sk4:hover::after{
    content: var(--text3);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}
#sk5:hover::after{
    content: var(--text4);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}

#sk6:hover::after{
    content: var(--text5);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}

#sk7:hover::after{
    content: var(--text6);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}

#sk8:hover::after{
    content: var(--text7);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}

#sk9:hover::after{
    content: var(--text8);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}
#sk10:hover::after{
    content: var(--text9);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}
#sk11:hover::after{
    content: var(--text10);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}
#sk12:hover::after{
    content: var(--text11);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}
#sk13:hover::after{
    content: var(--text12);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}
#sk14:hover::after{
    content: var(--text13);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}
#sk15:hover::after{
    content: var(--text14);
    width: 100%;
    height: 97%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.5) ,rgba(255, 0, 79, 0.5));
}


@media screen and (max-width: 1025px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .skill{
        width: 85%;
        height: auto;
    }

    .skill div{
        font-size: 2em;
        font-weight: 500;
    }
}

