<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">
    <title>Rehan Resume - About</title>
</head>
<body>
    <%- include("partials/header") %>
    <div class="container">
        <h1 class="abt"><div><span>A</span>bout Me</div></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ut, quod reiciendis architecto reprehenderit quasi maxime quae ipsa sunt, in molestias neque officia ab necessitatibus asperiores perferendis sint ducimus, repellendus beatae ratione repellat accusantium quia. Vero, delectus! Nostrum vero, dicta in numquam quaerat magnam soluta voluptatem doloremque tenetur voluptatum quo explicabo officiis. Laboriosam laborum doloribus modi ea, animi veritatis soluta doloremque, deleniti quas saepe quia similique sequi minima, quam provident recusandae excepturi eveniet? Nisi itaque repellendus architecto quis aspernatur saepe enim? Vel et inventore nulla ullam nobis laborum sequi perspiciatis vitae non soluta praesentium, quos maiores excepturi natus aut numquam?
            <br><br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea quisquam suscipit deleniti illo, blanditiis praesentium quos tenetur perspiciatis quaerat. Nam recusandae soluta hic ipsum? Ex asperiores perspiciatis, nulla deleniti eos distinctio eum nihil odio. Necessitatibus dicta voluptates nihil ratione culpa facilis, minima velit porro.
            <br><br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab repudiandae sed voluptas iste. Eligendi ratione reiciendis delectus quas quia quasi, officia ex repellendus maxime minima ea, est dicta? Repellat minima aliquid, vel nulla id, sit, ducimus quos natus suscipit eum iste officiis! Nemo sint perferendis autem ad nostrum? Labore vitae, odit eaque corporis, veniam eligendi in modi fuga sint numquam, quos vero consectetur. Officia.
        </p>
    </div>
</body>
</html>