<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MD Rehan - Contact</title>
    <link rel="stylesheet" href="css/contact.css" />
  </head>
  <body>
    <%- include("./partials/header") %>
    <div class="container">
      <div class="left">
        <h1>
          <i
            class="fa-solid fa-paper-plane"
            style="color: var(--red)"
          ></i
          >Contact Me
        </h1>
        <h3>
          <i class="fa-solid fa-phone" style="color: var(--red)"></i
          >6290197361
        </h3>
        <h3>
          <i class="fa-solid fa-envelope" style="color: var(--red)"></i
          >mdrehan4650@gmail.com
        </h3>
        <div class="icons" style="cursor: pointer">
          <a href="https://www.facebook.com/mdrehan.zahid.5" target="_blank"
            ><i class="fa-brands fa-facebook fa-2xl"></i
          ></a>
          <a
            href="https://www.instagram.com/mdrehanzahid/"
            target="_blank"
            ><i class="fa-brands fa-instagram fa-2xl"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/md-rehan-169411232/"
            target="_blank"
            ><i class="fa-brands fa-linkedin fa-2xl"></i
          ></a>
        </div>
        <a href="MdRehanResume.pdf" download="MdRehanResume" id="a1"
          >Download CV<i
            class="fa-solid fa-download"
            style="color: black; background-color: inherit"
          ></i
        ></a>
      </div>
      <div class="right">
        <form action="https://getform.io/f/e3854e68-4296-42f3-9dcf-a1a0a7cb20b8" method="post">
          <input type="text" class="inp" placeholder="Your Name" name="Name"/>
          <input type="text" class="inp" placeholder="Your Email" name="Email"/>
          <textarea
            name="message"
            id=""
            cols="30"
            rows="10"
            placeholder="Your Message..."
          ></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/25137dc536.js"
    crossorigin="anonymous"
  ></script>
</html>
