<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Rehan Resume</title>
</head>
<body>
    <%- include("partials/header") %>
    <!-- <div class="container">
        <img src="" alt="">
        <div class="right">

        </div>
    </div> -->
    <div class="container">
        <div class="text">
          <h3>Hello there! I am</h3>
          <h1 class="name"><span>M</span>D <span>R</span>ehan</h1>
          <h3><span>D</span>eveloper || <span>D</span>ata Scientist</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil vero
            deleniti pariatur, amet natus perferendis labore ipsam dolorem nemo?
            Quis earum dolore perspiciatis eveniet consequuntur dolorem commodi
            aliquam ipsum, praesentium, molestiae molestias?
          </p>
          <div class="btn">
            <a class="download" href="portfolioCV.pdf" download="KhusheeResume"
              >Download CV</a
            >
            <a class="download" href="/about">Know Me</a>
          </div>
        </div>
        <img src="images/frontalFace.png" />
      </div>
</body>
</html>