<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MD Rehan - Projects</title>
    <link rel="stylesheet" href="css/projects.css" />
    <!-- <script src="js/body.js"></script> -->

  </head>
  <body>
    <%- include("./partials/header") %>
    <div class="container">
      <div class="cards">
        <img src="images/project1.jpeg" alt="" />
        <div class="text">
          <h2>E-Mailer</h2>
          Emailer is a software to send emails without opening gmail and other sites. Just click a button and you are good to go.
        </div>
        <a href="https://github.com/mdrehan369/E-Mailer" target="_blank">GitHub Link</a>
      </div>
      <div class="cards">
        <img src="images/project2.png" alt="" />
        <div class="text">
          <h2>Graphify</h2>
          Graphify is a simple tool for visualizing and analyzing information for applications such as Machine Learning and Deep Learning.It helps to understand the link between every attribute and another attribute to predict or categorize anything given a number of features contained in a dataset.
        </div>
        <a href="https://github.com/mdrehan369/Graphify" target="_blank">GitHub Link</a>
      </div>
      <div class="cards">
        <img src="images/project3.png" alt="" />
        <div class="text">
          <h2>Pixellytic</h2>
          Pixellytic is an application which uses techniques of Machine Learning to simplify image searching.It is an application made from Python and its GUI libraries. The front end is done by Customtkinter.It uses a library Scikit Learn famous for machine learning and uses it to distinguish images.
        </div>
        <a href="https://github.com/mdrehan369/Pixellytic" target="_blank">GitHub Link</a>
      </div>
    </div>
  </body>
</html>
