<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MD Rehan - Skills</title>
    <link rel="stylesheet" href="css/skills.css" />
    <!-- <script src="js/body.js"></script> -->
  </head>
  <body>
    <%- include("./partials/header.ejs")%>
    <div class="container">
      <div class="skill" id="sk1">
        <div>HTML</div>
        <img src="images/html.png" alt="" />
      </div>
      <div class="skill" id="sk2">
        <div>CSS</div>
        <img src="images/css3.png" alt="" />
      </div>
      <div class="skill" id="sk3">
        <div>Java Script</div>
        <img src="images/javascript.png" alt="" />
      </div>
      <div class="skill" id="sk4">
        <div>Machine Learning</div>
        <img src="images/ML.png" alt="" />
      </div>
      <div class="skill" id="sk5">
        <div>Python</div>
        <img src="images/python.png" alt="" />
      </div>
      <div class="skill" id="sk6">
        <div>C++</div>
        <img src="images/c++.png" alt="" />
      </div>
      <div class="skill" id="sk7">
        <div>Java</div>
        <img src="images/cjava.png" alt="" />
      </div>
      <div class="skill" id="sk8">
        <div>Mongo DB</div>
        <img src="images/mongo-db.png" alt="" />
      </div>
      <div class="skill" id="sk9">
        <div>Node JS</div>
        <img src="images/nodejs.png" alt="" />
      </div>
      <div class="skill" id="sk10">
        <div>Express JS</div>
        <img src="images/expressjs.png" alt="" />
      </div>
      <div class="skill" id="sk11">
        <div>Sklearn</div>
        <img src="images/sklearn.png" alt="" />
      </div>
      <div class="skill" id="sk12">
        <div>DSA</div>
        <img src="images/dsa.png" alt="" />
      </div>
      <div class="skill" id="sk13">
        <div>React</div>
        <img src="images/react.png" alt="" />
      </div>
      <div class="skill" id="sk14">
        <div>Pandas</div>
        <img src="images/pandas.png" alt="" />
      </div>
      <div class="skill" id="sk15">
        <div>C</div>
        <img src="images/c.png" alt="" />
      </div>
    </div>
  </body>
  <!-- <script src="js/skills.js"></script> -->
</html>
